[Desktop Entry]
Name=Katppuccin Mocha Classic
Comment=Soothing Pastel theme for Kwin
X-KDE-PluginInfo-Author=hazel-bunny
X-KDE-PluginInfo-Email=hazel_bunny@disroot.org
X-KDE-PluginInfo-Version=0.2.8
X-KDE-PluginInfo-Name=KatppuccinMocha-Classic
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
