[Desktop Entry]
Name=Katppuccin Latte Modern
Comment=Soothing Pastel theme for Kwin
X-KDE-PluginInfo-Author=hazel-bunny
X-KDE-PluginInfo-Email=hazel_bunny@disroot.org
X-KDE-PluginInfo-Name=KatppuccinLatte-Modern
X-KDE-PluginInfo-Version=0.2.8
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-EnabledByDefault=true
