[Desktop Entry]
Comment=A splash screen based on Katppuccin's --flavour flavour
Name=Katppuccin --flavour --accentName
X-KDE-PluginInfo-Author=hazel-bunny
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=hazel_bunny@disroot.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=Katppuccin---flavour---accentName-splash
X-KDE-PluginInfo-Version=0.2.8
X-KDE-PluginInfo-Website=github.com/hazel-bunny/katppuccin-kde
X-KDE-ServiceTypes=Plasma/LookAndFeel
